<div style="text-align:center">
  <h1>
    Ngx-Webcam Demo
  </h1>

  <div>
    <webcam [height]="224" [width]="224" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
      [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions"
      [imageQuality]="1" (cameraSwitched)="cameraWasSwitched($event)" (initError)="handleInitError($event)"></webcam>
    <br />
    <button class="actionBtn" (click)="triggerSnapshot();">Take A Snapshot</button>

  </div>
</div>

<h4 *ngIf="errors.length > 0">Messages:</h4>
<ul *ngFor="let error of errors">
  <li>{{error | json}}</li>
</ul>
<img id='cat' src='../../assets/facec.jpg' width=224 height=224 />
<img id='face' src='../../assets/face.jpg' width=224 height=224 />
<img id='dog' src='../../assets/stop2.jpg' width=224 height=224 />
<img id='stop' src='../../assets/stop.jpg' width=224 height=224 />
<app-mnet [imgW]="webcamImage"></app-mnet>
<!-- <div>
  <video autoplay playsinline muted id="webcam" width="224" height="224"></video>
</div> -->
